{% load static %}
{% load FilterTags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/Images/IconFazel.jpg">
    <meta name="viewport" 
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="theme-color" content="#333"/>
      
    <title>{{ Info.NameAndFamily }}</title>
    <link rel="stylesheet" href="{% static 'FontAwesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'Css/Base/Index.css' %}">
    <link rel="stylesheet" href="{% static 'Css/Index.css' %}">
</head>
<body>
<header>
    <div class="ContainerHeaderInfo">
        <div class="ContainerAboutMeHeader">
            <h1 AnimationScroll="AnimationTitle">{{ Info.NameAndFamily }}</h1>
            <p>{{ Info.LabelWork }}</p>
        </div>
        <div class="ContainerImageHeader">
            <img src="{% static 'Images/Me.jpg' %}" alt="Fazel Momeni" class="ImageHeader"
                 AnimationScroll="AnimationImageHeader">
        </div>
    </div>
</header>
<main>
    <div class="ContainerItems">
        <div class="ContainerContent" AnimationScroll="AnimationContainerContent">
            <div class="Content">
                <div>
                    <div>
                        <p>{{ Info.GetLenWorkSamples }}</p>
                        <i class="far fa-file-certificate"></i>
                    </div>
                    <p>نمونه کار</p>
                </div>
                <div>
                    <div>
                        <p>{{ Info.GetLenSkills }}</p>
                        <i class="far fa-magic"></i>
                    </div>
                    <p>مهارت</p>
                </div>
            </div>
        </div>
    </div>
    <div class="ContainerAboutMe">
        <div class="ContainerContent" AnimationScroll="AnimationContainerContent">
            <div class="ContainerTitle">
                <p>درباره من</p>
            </div>
            <div class="Content">
                <p>
                    {{ Info.AboutMe|safe }}
                </p>
            </div>
        </div>
    </div>
    <div class="ContainerWorkSamples">
        <div class=" ContainerContent" AnimationScroll="AnimationContainerContent">
            <div class="ContainerTitle">
                <p>نمونه کار های من</p>
            </div>
            <div class="Content">
                {% if WorkSamples|ListIsNone == False %}
                    <div class="ContainerSliders Sliders" Timer="15000">
                {% else %}
                    <div class="ContainerSliders">
                {% endif %}
                {% for WorkSample in WorkSamples %}
                    <div class="WorkSample {% if WorkSamples|ListIsNone == False %}Slider {% if forloop.first %}SliderActive{% endif %}{% endif %}">
                        <div>
                            <div class="ContainerImageWorkSample">
                                <img src="{{ WorkSample.Image.url }}" alt="{{ WorkSample.Title }}"
                                     title="{{ WorkSample.Title }}">
                            </div>
                            <div class="ContainerInfoWorkSample">
                                <p class="TimePastWorkSample">{{ WorkSample.GetTimePast }}</p>
                                <p>
                                    {{ WorkSample.Description }}
                                </p>
                                <ul>
                                    {% for Skill in WorkSample.GetSkills %}
                                        <li>
                                            {{ Skill }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div>
                            <p title="{{ WorkSample.Title }}" class="TitleWorkSample">{{ WorkSample.Title }}</p>

                        </div>
                        <span>
                            <a href="{{ WorkSample.Link }}">مشاهده</a>
                        </span>
                    </div>
                {% endfor %}
                <div>
                    <button class="BtnPrevSlider" State="Active"
                            onclick="ChangeSlider(this.parentNode.parentNode,'Prev',this.getAttribute('State'))">
                        <i class="fa fa-arrow-left"></i>
                    </button>
                    <button class="BtnNextSlider" State="Disabled"
                            onclick="ChangeSlider(this.parentNode.parentNode,'Next',this.getAttribute('State'))">
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ContainerSkills">
        <div class=" ContainerContent" AnimationScroll="AnimationContainerContent">
            <div class="ContainerTitle">
                <p>مهارت های من</p>
            </div>
            <div class="Content">
                <div class="Skills">
                    {% for Skill in Skills %}
                        <div class="Skill">
                            <div class="ContainerChartSkill">
                                <canvas ChartSkill TitleSkill="{{ Skill.Title }}"
                                        ValuePercent="{{ Skill.ValuePercent }}"></canvas>
                            </div>
                            <p class="PercentageValueSkill">{{ Skill.ValuePercent }}%</p>
                            <p class="TitleSkill">{{ Skill.Title }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="ContainerContactMe">
        <div class=" ContainerContent" AnimationScroll="AnimationContainerContent">
            <div class="ContainerTitle">
                <p>ارتباط با من</p>
            </div>
            <div class="Content">
                <div>
                    <i class="fab fa-instagram" InstagramIcon
                       onclick="GoToUrl('https://instagram.com/{{ Info.UserInstagram }}')"></i>
                    <p>Instagram</p>
                </div>
                <div>
                    <i class="far fa-paper-plane" TelegramIcon
                       onclick="GoToUrl('https://t.me/{{ Info.UserTelegram }}')"></i>
                    <p>Telegram</p>
                </div>
                <div>
                    <i class="far fa-envelope" EmailIcon onclick="GoToUrl('mailto:{{ Info.UserEmail }}')"></i>
                    <p>Email</p>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <p>Ⓒ2021 - <a href="http://codevar.ir">Codevar</a> - Fazel Momeni</p>
</footer>
<script src="{% static 'Js/Base/Index.js' %}"></script>
<script src="{% static 'Js/Base/Chart/anychart-core.min.js' %}"></script>
<script src="{% static 'Js/Base/Chart/Chart.js' %}"></script>
<script src="{% static 'Js/Base/Chart/anychart-pie.min.js' %}"></script>
<script src="{% static 'Js/Base/Chart/plugin-chart.js' %}"></script>
<script src="{% static 'Js/Index.js' %}"></script>
</body>
</html>